.pointer{
  cursor: pointer;
}

.sign-container {
  margin: 0 auto;
  width: 40%;
}

.sign-header {
  text-align: center;
  margin: 40px;
}

.sign-header-title {
  font-size: 28px;
  font-weight: 600;
}

.sign-header-description {
  font-size: 14px;
}

.sign-body {
  padding: 50px;
  border: 1px solid #f0f0f0;
  font-size: 14px;
  background-color: white;
  color: rgba(0, 0, 0, 0.505);
}

.form-items {
  margin-bottom: 24px;
}

.form-label {
  display: block;
  line-height: 32px;
  margin-bottom: 4px;
  font-size: 14px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 15px;
}

.border-normal {
  border: 1px solid rgba(0, 0, 0, 0.505);
  border-radius: 5px;
}

.border-error {
  border: 1px solid red;
  border-radius: 5px;
}

.error-input-message {
  color: red;
}

.form-bottom {
  text-align: center;
}

.btn {
  padding: 10px 14px;
  border: none;
  border-radius: 5px;
  margin: 5px;
}

.redirect-link {
  text-align: center;
}

.redirect-link>p {
  display: inline;
}

.redirect-link>.link {
  text-decoration: none;
  color: cornflowerblue;
  margin: 5px;
}